*{
  margin:0;
  padding:0;
  box-sizing: border-box;
font-family: 'Fira Sans Condensed', sans-serif;

}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
  list-style: none;
  text-decoration: none;
}
.containerb{
  height: auto;
  background-color: white;
  display: grid;
  grid-template-areas: 
  'bx bx'
  'b1 b2';
  grid-gap: 30px;
  margin-left: 20px;
}
#bx{
  grid-area: bx;
}
#b1{
  grid-area: b1;
}
#b2{
  grid-area: b2;
}
.container1{
  height: 200px;
background-image: url('Images/background.png');
background-repeat: no-repeat;
  background-size: 100% 200px;
}
.container2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Images/bread.jpg');
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 background-blend-mode: hue;
}
.container3{
  height: auto;
  background-color: white;
}
.container4{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Images/promo_slide_2.jpg' );
background-repeat: no-repeat;
width: 100%;
height: 500px;
background-size: cover;
}
.container5{
  background-color: white;
  height: 800px;
}
.container6{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Images/promo_slide_3.jpg' );
background-repeat: no-repeat;
width: 100%;
height: 700px;
background-size: cover;
}
.container7{
  background-color: white;
  height: 400px;
}
.container8{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Images/Footer_background.png' );
background-repeat: no-repeat;
height: auto;
background-size: cover;
}
.btn{
  border: 1px solid black;
}
.btn:hover{
  background-color: rgb(77, 11, 11);
  color: white;
}
.card{
  width: 550px;
  border: none;
}
td{
  margin-right: 3px;
}
.mainTitle{
  font-family: 'Dancing Script', cursive;
  font-size: 9vh;
  color: brown;
}
.pop{
  background-color: white;
  position: relative;
  width: 30%;
  height: 25%;
  margin-left: -10%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 4.5%;
  padding: 4.5%;

}
.icon{
  font-size:36px;
  color:white;
  margin-left: 30px;
  margin-bottom: 20vh;
}
.icon:hover{
  cursor: pointer;
}
#book{
  background-color: white;
  color: rgb(110, 16, 16);
  padding: 10px 30px ;
}
#book:hover{
  background-color: rgb(77, 11, 11);
  color: white;
}
#start{
  color: white;
  background-color: rgb(99, 18, 18);
  width: auto;
  height: auto;
  font-size: 36px;
  padding: 3px;
  text-decoration: none;
}
#start:hover{
  cursor: pointer;
}
@media screen and (max-width: 992px) {
 .fit{
   display: block;
 }
}

 @media screen and (max-width: 600px) {
  .fit{
    flex-flow:nowrap;
  justify-content: space-around;

  }

} 

.imageContainer {
  position: relative;
  text-align: center;
  color: rgb(64, 11, 124);
}
.caption{
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.TR {
  position: absolute;
  top: 8px;
  right: 16px;
}
.promo{
  width: 55%;
  height: 40%;
  object-fit: cover;
}
